language: php

sudo: false

git:
  depth: 3

cache:
  directories:
  - vendor

notifications:
  email:
    on_success: never
    on_failure: change

branches:
  only:
    - master

env:
  - COMPOSER_FLAGS="--prefer-stable --prefer-source"

php:
  - 5.6
  - 7.0
  - 7.1
  - 7.2
  - nightly

matrix:
  fast_finish: true
  allow_failures:
    - php: nightly

before_script:
  - composer install

script:
  - vendor/bin/phpcs -s --standard=phpcs.ruleset.xml .